
/*===============Banner==============*/
.content {
	margin-top: 135px;
}
.content > div {
	position: relative;
}
.content > div > h1 {
 	position: absolute;
 	width: 100%; 
 	height: 1px; 
 	top: -75px; 
}
.content #contacts {
	top: -90px;
}

.content .banner {
	height: 340px;
	background: url(../images/banner.png);
}
.content .banner .container {
	height: 340px;
	padding-top: 25px;
}
.content .helmet {
	top: 0;
	position: absolute;
	right: 0;
	z-index: 0;
}
.content .banner-info {
	height: 105px;
	position: relative;
}
.content .banner-info:first-child {
	font-family: "Roboto-Bold";
	font-size: 50px;
}
.content .banner-info:nth-child(2) {
	font-family: "Roboto-Regular";
	font-size: 20px;
	line-height: 1.5;
	padding-top: 17px;
}
.content .billet {
	height: 80px;
	background: rgba(59, 60, 63, .7);
	position: relative;
	z-index: 1;
}
.content .billet-list {
	float: left;
}
.content .billet-list li {
	width: 190px;
	display: inline-block;
	color: rgb(255, 255, 255);
	padding: 20px;
}
.content .billet-list span:first-child {
	font-family: "Roboto-Bold";
	font-size: 18px;
}
.content .billet-list span:last-child {
	font-family: "Roboto-Light";
	font-size: 14px;
}
.content .about-company {
	margin: 20px;
	float: right;
	width: 180px;
	height: 40px;
	border: 2px solid rgb(255, 255, 255);
	text-align: center;
}
.content .about-company a {
	display: block;
	height: 100%;
	color: rgb(255, 255, 255);
	text-transform: uppercase;	
	line-height: 40px;
	font-family: "Roboto-Bold";
	font-size: 14px;
	text-decoration: none;
}
/*=====================Our Projects===================*/
.content .our-projects {
	height: 475px;
}
.content .our-projects .container {
	height: 475px;
	padding-top: 30px;
}
.content .projects-head {
	height: 45px;
}
.content .slider-projects li {
	display: inline-block;
	width: 100%;
	height: 100%
}
.content .slider-projects img {
	float: left;
}
.content .project-description {
	width: 239px;
	height: 400px;
	padding-left: 19px;
	float: right;
	background: rgba(130, 139, 151, .1);
}
.content .btn-design {
	width: 108px;
	height: 18px;
	margin-top: 25px;
	background: rgb(26, 122, 203);
	color: rgb(255, 255, 255);
	font-family: "Roboto-Bold";
	font-size: 10px;
	letter-spacing: .1em;
	cursor: pointer;
}
.content .description-h1 {
	height: 80px;
	font-family: "Roboto-Bold";
	font-size: 24px;
	color: rgb(0, 0, 0);
	padding-top: 10px;
	line-height: 30px;
}
.content .description-h2 {
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: rgb(0, 0, 0);
	line-height: 20px;
}
.content .details {
	font-family: "Roboto-Regular";
	font-size: 14px;
	padding-top: 20px;
	color: rgb(0, 92, 229);
}
.content .btn-all-projects {
	width: 180px;
	height: 38px;
	margin-top: 145px;
	border: 2px solid rgb(219, 75, 70);
	border-radius: 2px;
	color: rgb(219, 75, 70);
	font-family: "Roboto-Black";
	font-size: 14px;
	text-transform: uppercase;
	background: transparent;
	letter-spacing: .05em;
	cursor: pointer;
}
.content .switch-projects {
	position: absolute;
	top: 363px;
	right: 170px;
	cursor: pointer;
}
.content .switch-projects img {
	margin-top: 5px;
	cursor: pointer;
}
.content .btn-left-arrow {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid rgb(80, 84, 93);
	text-align: center;
	border-radius: 3px 0 0 3px;
}
.content .btn-right-arrow {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 2px solid rgb(80, 84, 93);
	text-align: center;
	margin-left: -6px;
	border-radius: 0 3px 3px 0;
}
.content .left-arrow {
	background: transparent;
}
.content .right-arrow {
	background: transparent;
}
/*=========================News==================*/
.content .news {
	margin-top: 30px;
	height: 200px;
	background: rgb(252, 220, 78);
}
.content .news .container {
	height: 200px;
	padding-top: 30px;
}
.content .news-head {
	height: 55px;
}
.content .switch-news img {
	margin-top: 5px;
	cursor: pointer;
}
.content .switch-news {
	position: absolute;
	top: 90px;
	right: 0;
	cursor: pointer;
}
.content .news-list li {
	display: inline-block;
	width: 33.33%;
	float: left;
}
.content .delimiter {
	width: 1px;
	height: 30px;
	background: rgb(0, 0, 0);
}
.container .news-info {
	height: 45px;
	font-family: "Roboto-Regular";
	font-size: 16px;
	color: rgb(0, 0, 0);
	padding-top: 4px;
}
.content .news-cell li {
	display: inline-block;
}
.content .news-cell li:first-child {
	width: 1px;
}
.content .news-cell li:last-child {
	width: 280px;
	margin-left: 15px;
}
.content .news-date {
	font-family: "Roboto-Regular";
	font-size: 12px;
	margin-top: 20px;
	padding-left: 16px;
}
/*=================Cost of repairs============*/
.content .cost {
	height: 680px;
	background: url(../images/banner.png);
}
.content .cost .container {
	height: 680px;
	padding-top: 30px;
}
.content .cost-head {
	height: 45px;
}
.content .repair-options li {
	float: left;
	padding-top: 15px;
	width: 235px;
	height: 70px;
	border-top: 2px solid rgb(255, 255, 255);
	background: rgb(239, 239, 239);
	cursor: pointer;
}
.content .repair-options .active {
	background: rgb(255, 255, 255);
}

.content .option-name {
	font-family: "PFAgoraSansPro-Black";
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.content .option-cost {
	font-family: "PFAgoraSansPro-Light";
	font-size: 16px;
	text-align: center;
	color: rgba(80, 84, 93, .8);
}
.content .repair-options .active div:last-child {
	color: rgb(255, 96, 0);
}
.content .option-description-container {
	height: 380px;
	background: rgb(255, 255, 255);
	position: absolute;
}
.content .repair-options-content {
	height: 380px;
}
.content .repair-options-content li {
	display: none;
}
.content .tab1-content {
	height: 380px;
	width: 940px;	
	background: red;
}
.content .tab3-content {
	height: 380px;
	width: 940px;
	background: green;
}
.content .tab4-content {
	height: 380px;
	width: 940px;
	background: blue;
}
.content li.visible {
	display: block;
}
.content .option-description-head {
	font-family: "PFAgoraSansPro-Regular";
	font-size: 14px;
	color: rgb(173, 173, 173);
	padding-top: 30px;
	padding-left: 50px;
	height: 44px;
}
.content .option-description-block {
	height: 168px;
}
.content .option-img {
	float: left;
	width: 85px;
	height: 85px;
	margin: 30px;
}
.content .option-info {
	float: left;
	width: 280px;
	height: 85px;
}
.content .option-block-head {
	font-size: 18px;
  	font-family: "PFAgoraSansPro-Bold";
 	color: rgb(52, 50, 50);
 	margin-top: 17px;
 	margin-bottom: 15px;
}
.content .option-block-desc {
	font-size: 14px;
  	font-family: "PFAgoraSansPro-Regular";
  	color: rgb(114, 114, 114);
}
.content .option-footer {
	height: 96px;
	width: 940px;
	top: 525px;
	background: rgb(80, 84, 93);
	position: absolute;
}
.content .option-footer-text {
	width: 380px;
	height: 96px;
	padding-top: 20px;
	padding-left: 30px;
	line-height: 25px;
	float: left;
}
.content .option-footer-text p:first-child {
	font-size: 20px;
  	font-family: "PFAgoraSansPro-Bold";
  	color: rgb(255, 255, 255);
}
.content .option-footer-text p:last-child {
	font-size: 20px;
  	font-family: "PFAgoraSansPro-Regular";
  	color: rgb(255, 255, 255);
}
.content .phone-masc {
	width: 40px;
	height: 40px;
	margin-top: 25px;
	margin-left: 50px;
	padding-top: 10px;
	background: rgb(234, 234, 234);
	text-align: center;
	font-size: 20px;
	color: rgb(80, 84, 93);
	float: left;
}

.content .option-footer input {
	float: left;
	height: 40px;
	width: 200px;
	margin-top: 25px;
	text-align: center;
	color: rgb(234, 234, 234);
	font-size: 20px;
}
.content input.bright {
	color: rgb(80, 84, 93);
}
.content .option-footer button {
	float: left;
	width: 180px;
	height: 40px;
	margin-left: 50px;
	margin-top: 25px;
	background: transparent;
	border: 2px solid rgb(255, 255, 255);
	font-size: 14px;
	font-family: "Roboto-Bold";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	padding-top: 3px;
	letter-spacing: 0.05em;
	cursor: pointer;
}
/*==============Phase and time of repairs============*/
.content .phase-and-time {
	height: 340px;
	/*background: url(../images/phase_and_time.jpg);*/
}
.content .boxes {
	display: table;
 	width: 100%;
 	height: 100%;
}
.content .box {
	display: table-cell;
	background: url(../images/phasesbg.png);
}
.content .box1 {
	background: url(../images/phasesbg1.png) repeat;
}
.content .box2 {
	background: url(../images/phasesbg2.png) repeat;
}
.content .phases {
	height: 340px;
	padding: 0px;
}
.content .time {
	height: 340px;
	padding: 0px;
}
.content .phase-and-time-head {
	margin-top: 30px;
}
.content .phase-and-time-details {
	font-family: "Roboto-Regular";
	font-size: 16px;
	color: rgb(0, 92, 229);
	margin-top: 60px;
	clear: both;
}
.content .markers {
	float: left;
	margin-top: 30px;
}
.content .phases-list {
	float: left;
	height: 195px;
	margin-top: 40px;
	margin-left: 20px;
}
.content .phases-list li {
	height: 65px;
}
.content .markers div:nth-child(odd) {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: rgb(80, 84, 93);
	color: rgb(255, 255, 255);
	font-family: "Roboto-Black";
	font-size: 18px;
	padding-top: 9px;
	text-align: center;
}
.content .markers div:nth-child(even) {
	width: 3px;
	height: 30px;
	background: rgb(80, 84, 93);
	margin-left: 16px;
}
.content .phases-list-head {
	font-family: "Roboto-Bold";
	font-size: 18px;
	color: rgb(52, 50, 50);

}
.content .phases-list-desc {
	font-family: "Roboto-Regular";
	font-size: 14px;
	color: rgb(52, 50, 50);
	padding-top: 5px;
}
.content .time p:nth-child(2) {
	font-family: "PFAgoraSansPro-Bold";
	font-size: 18px;
	color: rgb(52, 50, 50);
	margin-top: 40px;
}
.content .time p:nth-child(3) {
	font-family: "PFAgoraSansPro-Regular";
	font-size: 14px;
	color: rgb(52, 50, 50);
	margin-top: 10px;
	margin-bottom: 70px;
}
/*=================Guarantees================*/
.content .guarantees {
	height: 290px;
	background: rgb(252, 220, 78);
}
.content .guarantees .container {
	height: 290px;
	padding-top: 30px;
}
/*.content .guarantees-head {

}*/
.content .guarantees-image {
	width: 115px;
	height: 115px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	margin-top: 40px;
	margin-left: 70px;
	float: left;
}
.content .guarantees-image img {
	margin-left: 18px;
	margin-top: 20px;
}
.content .guarantees-h2 {
	font-family: "PFAgoraSansPro-Bold";
	font-size: 20px;
	color: rgb(52, 50, 50);
}
.content .guarantees-desc {
	font-family: "PFAgoraSansPro-Regular";
	font-size: 14px;
	color: rgb(52, 50, 50);
	margin-top: 10px;
	line-height: 16px;
}
.content .guarantees-details {
	float: left;
	width: 480px;
	margin-top: 40px;
	margin-left: 60px;
}
.content .switch-guarantees img {
	margin-top: 5px;
	cursor: pointer;
}
.content .switch-guarantees {
	position: absolute;
	top: 140px;
	right: 0;
	cursor: pointer;
}



