/*======================Content===================*/
.content {
	margin-top: 135px;
}

.content .container {
	padding-right: 110px;
	padding-top: 30px;
}
.content .right-row-container {
	padding-left: 50px;
	padding-top: 0;
}
.content .head-one {
	font-size: 35px;
	font-family: "Futura-Demic";
	/*height: 100px;*/
	text-transform: uppercase;
	letter-spacing: 0.07em;
	/*line-height: 100px;*/
	margin-bottom: 15px;
}
.content .block-text {
	font-family: "PFAgoraSansPro-Regular";
	font-size: 16px;
	line-height: 23px;
	margin-top: 15px;
}
.content .design-img {
	width: 577px;
	height: 383px;
	margin-top: 30px;
}
.content .head-two {
	font-size: 24px;
	font-family: "Futura-Demic";
	height: 50px;
	width: 577px;
	border-bottom: 1px solid rgb(64, 64, 64);
	padding-top: 17px;
	margin-bottom: 15px;
}
.content .head-three {
	font-family: "Futura-Demic";
	font-size: 35px;
	margin-bottom: 20px;
	margin-top: -10px;
}
.content .column-text {
	width: 577px;
	column-count: 2;
	column-gap: 37px;
	font-size: 14px;
	font-family: "PFAgoraSansPro-Regular";
	padding: 0;
	line-height: 20px;
}
.content .column-text h3 {
	font-family: "PFAgoraSansPro-Bold";
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 18px;
}
.content h3.first-h3 {
	margin-top: 0;
}
.content .left-row-container {
	padding: 0;
}
.content .control {
	width: 220px;
	height: 270px;
	border: 1px solid rgb(234, 234, 234);
	border-radius: 4px;
}
.content .control-img {
	width: 110px;
	height: 110px;
	background: rgb(255, 220, 78);
	border-radius: 50%;
	margin-top: 30px;
	margin-left: 50px;
}
.content .control-head {
	font-family: "Roboto-Bold";
	font-size: 15px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgb(52, 50, 50);
	width: 160px;
	margin-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.content .control-info {
	font-family: "PFAgoraSansPro-Regular";
	font-size: 12px;
	text-align: center;
	color: rgb(147, 147, 147);
	width: 160px;
	margin-left: 30px;
}
.content .delimiter {
	width: 30px;
	height: 2px;
	background: rgb(137, 137, 137);
	margin-top: 50px;
	margin-bottom: 15px;
	margin-left: 2px;
}
.content .left-row-paragraph {
	font-family: "PFAgoraSlabPro-LightItalic";
	font-size: 14px;
	color: rgb(147, 147, 147);
}
/*============News=============*/
.content .news-container {
	width: 220px;
	height: 650px;
	padding-top: 20px;
	background: rgb(240, 240, 240);
}
.content .news-container-head {
	font-family: "Roboto-Bold";
	font-size: 11px;
	text-transform: uppercase;
	margin-left: 20px;
}
.content .list-of-news li {
	padding: 20px 20px 15px 20px;
}
.content .news-img {
	overflow: hidden;
	margin-bottom: 15px;
}
.content .news-with-img {
	height: 275px;
	border-bottom: 1px solid rgb(200, 200, 200);
}
.content .news-without-img {
	height: 100px;
	border-bottom: 1px solid rgb(200, 200, 200);
}
.content .news-inform {
	font-size: 12px;
	font-family: "Roboto-Bold";
	height: 50px;
	width: 160px;
}
.content .news-date {
	font-size: 11px;
	font-family: "Roboto-Regular";
	color: rgb(206, 145, 0);
	vertical-align: sub;
	height: 15px;
	letter-spacing: 0.1em;
}
/*=============================*/
.content .img {
	width: 577px;
	height: 270px;
	background: rgb(120, 120, 120);
	margin-top: 30px;
}
.content .wrapper {
	display: block;
}
.footer-margin {
	margin-top: 100px;
}
/*.header-margin {
	height: 15px;
	width: 100%;
	background: rgb(255, 255, 255);
	top: 129px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}*/
