/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=============Reset End==================*/
* {
	box-sizing: border-box;
}
 body {
	font-family: Arial;
	color: rgb(80, 84, 93);
 }

/*================CSS Grid================*/

.container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.row {
	margin: 0;
}

.row::after {
	content: "";
	display: table;
	visibility: hidden;
	height: 0;
	clear: both;
}

[class*="col"] {
	float: left;
	padding: 0.94%;
	display: inline;
	margin: 0;
}

[class*="offset"] {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.col1  { width:  8.33%; }
.col2  { width: 16.66%; }
.col3  { width:    25%; }
.col4  { width: 33.33%; }
.col5  { width: 41.66%; }
.col6  { width:    50%; }
.col7  { width: 58.33%; }
.col8  { width: 66.66%; }
.col9  { width:    75%; }
.col10 { width: 83.33%; }
.col11 { width: 91.66%; }
.col12 { width:   100%; }

.offset1  { margin-left:  8.33%; }
.offset2  { margin-left: 16.66%; }
.offset3  { margin-left:    25%; }
.offset4  { margin-left: 33.33%; }
.offset5  { margin-left: 41.66%; }
.offset6  { margin-left:    50%; }
.offset7  { margin-left: 58.33%; }
.offset8  { margin-left: 66.66%; }
.offset9  { margin-left:    75%; }
.offset10 { margin-left: 83.33%; }
.offset11 { margin-left: 91.66%; }
.offset12 { margin-left:   100%; }

/*===============Fonts================*/
@font-face {
	font-family: "Roboto-Condensed";
    src: url(../fonts/roboto/roboto/Roboto-Condensed.ttf);
}

@font-face {
	font-family: "Roboto-Regular";
    src: url(../fonts/roboto/roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: "Roboto-BoldCondensed";
    src: url(../fonts/roboto/roboto/Roboto-BoldCondensed.ttf);
}

@font-face {
	font-family: "Roboto-Bold";
    src: url(../fonts/roboto/roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: "Roboto-Light";
    src: url(../fonts/roboto/roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto-Black";
    src: url(../fonts/roboto/roboto/Roboto-Black.ttf);
}

@font-face {
	font-family: "PFAgoraSansPro-Black";
    src: url(../fonts/PFAgora/PFAgora/PFAgoraSansPro-Black.ttf);
}

@font-face {
	font-family: "PFAgoraSansPro-Light";
    src: url(../fonts/PFAgora/PFAgora/PFAgoraSansPro-Light.ttf);
}

@font-face {
	font-family: "PFAgoraSansPro-Regular";
    src: url(../fonts/PFAgora/PFAgora/PFAgoraSansPro-Reg.ttf);
}

@font-face {
	font-family: "PFAgoraSansPro-Bold";
    src: url(../fonts/PFAgora/PFAgora/PFAgoraSansPro-Bold.ttf);
}

@font-face {
	font-family: "PFAgoraSlabPro-LightItalic";
    src: url(../fonts/PFAgora/PFAgora/PFAgoraSlabPro-LightItalic.ttf);
}
@font-face {
	font-family: "Futura-Demic";
    src: url(../fonts/FuturaDemiC.ttf);
}
/*===============Clearfix==============*/
.clearfix:after {
	content: "";
    display: table;
    clear: both;
}
/*===============Header===============*/
.header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	position: fixed;
	height: 135px;
	background: rgb(255, 255, 255);
	z-index: 2;
	padding-top: 15px;
}
.header .logo {
	float: left;
	margin-right: 15px;
}
.header .feedback a {
	color: #016cd9;
}
.header .description {
	float: left;
	line-height: 46px;
}
.header .description span {
	font-size: 20px;
  	font-family: "Roboto-Condensed";
  	letter-spacing: 0.05em;
}
.header .description span b {
	font-size: 20px;
  	font-family: "Roboto-BoldCondensed";
}
.header .feedback {
	float: right;
	text-align: right;
	line-height: 24px;
	font-family: "Roboto-Regular";
}

.header .block-head {
	margin-bottom: 26px;
}
.header .block-nav {
	float: left;
}
.header .main-menu {
	width: 860px;
	/*border-top: 1px solid rgb(80, 84, 93);*/
	border-bottom: 1px solid rgb(80, 84, 93);
}
.header .nav {
	text-transform: uppercase;
	font-size: 11px;
	font-family: "Roboto-Regular";
}
.header .nav li {
	display: inline-block;
	height: 38px;
	line-height: 38px;
	border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.header .nav a {
	cursor: pointer;
	color: rgb(80, 84, 93);
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	display: block;	
} 
.header .nav li:hover {
	border-bottom: 2px solid rgb(80, 84, 93);
}
.header .nav .active {
	border-bottom: 2px solid rgb(80, 84, 93);
}
.header .icon {
	display: inline-block;
	height: 26px;
	width: 26px;
	border-radius: 50%;
	margin-top: -13px;
}
.header .vk {
	background: url(../images/vk.png) center no-repeat #50545d;
	margin-left: 15px;
}
.header .insta {
	background: url(../images/instagram.png) center no-repeat #50545d;
	margin-left: 8px;
}
.header .icon a {
	display: block;
	height: 100%;
}
/*============Elements' styles==============*/

.main-head-font {
	color: rgb(130, 139, 151);
	font-size: 24px;
	font-family: "Futura-Demic";
	text-transform: uppercase;
}

/*===================Footer=====================*/
.footer {
	height: 96px;
	background: rgb(80, 84, 93);
}
.footer .logo-footer {
	margin-top: 20px;
	float: left;
}
.footer .description-footer {
	margin-top: 31px;
	margin-left: 15px;
	float: left;
	width: 375px;
}
.footer .description-footer span {
	font-size: 20px;
  	font-family: "Roboto-Condensed";
  	color: rgb(255, 255, 255);
  	letter-spacing: 0.05em;
}
.footer .description-footer span b {
	font-size: 20px;
  	font-family: "Roboto-BoldCondensed";
  	color: rgb(255, 255, 255);
}
.footer .feedback-footer {
	float: left;
	margin-top: 35px;
	font-family: "Roboto-Regular";
	font-size: 16px;
	color: rgb(255, 255, 255);
}
.footer .feedback-footer a {
	color: rgb(255, 255, 255);
}
.footer .icon-footer {	
	width: 25px;
	height: 25px;
	border-radius: 50%;	
	margin-top: 32px;
	display: inline-block;	
}
.footer .insta {
	float: right;
	margin-left: 12px;
	background: url(../images/insta_footer.png) center no-repeat rgb(255, 255, 255);
}
.footer .vk {
	float: right;
	background: url(../images/vk_footer.png) center no-repeat rgb(255, 255, 255);
}
.footer .icon-footer a {
	display: block;
	height: 100%;
}
